# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.env
venv/

# Distribution / packaging
dist/
build/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log
